@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'admin-lte/dist/css/adminlte.min.css';
@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
@import 'admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import 'admin-lte/plugins/jqvmap/jqvmap.min.css';
@import 'admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css';
@import 'admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
@import 'admin-lte/plugins/daterangepicker/daterangepicker.css';
@import 'admin-lte/plugins/summernote/summernote-bs4.min.css';

* {
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

